/***********************************TAG SELECTOR*******************************/
body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

div {
  /*background-color: #eae9e9;*/
}

h1 {
  color: #66BFBF;
  /*width: 10%;*/
  margin: 50px auto 0 auto;
  font-family: 'Courgette', cursive;
  font-size: 5.625rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
}

p {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5rem;
  line-height: 2;
}

span {
  text-decoration: underline;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 3.5%;
  color: #af0404;
  margin: 100px auto;;
}

/***********************************CLASS SELECTOR*******************************/
.top-container {
   background-color: #EAF6F6;
   position: relative;
   padding-top: 100px;
}

.cb-caret-down {
  background-color: black;
}

.nikhil-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.top-container-h2 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2.5rem;
  font-weight: normal;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cooking-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  line-height: 2;
  width: 30%;
  margin: auto;
}

.middle-container {
  margin: 100px 0;
  line-height: 2;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.contact-me {
  margin-bottom: 20px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px ;
  line-height: 2;
}

/*.contact-me-btn {
  color: #11999E;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 30px;
}*/

.contact-me-btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact-me-btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link {
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 30px;
}

.footer-link:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  padding: 20px 0;
  font-size: 1rem;
}

/*.code-skill-description {
  clear: left;
}

.cooking-skill-description {
  clear: right;
}*/
